.board-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .board-table th, .board-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .board-table th {
    background-color: #f2f2f2;
    width:2rem;
  }

  .board-textarea{
    width:50%;
    line-height: 10rem;
  }